* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --first-color: #494e6b;
    --second-color: #192231;
    --third-color: #576ca5;
    --fourth-color: rgba(255, 255, 255);
    --fifth-color: rgb(0, 0, 0);
    --font-style1: Andale Mono, monospace;
}

main {
    display: flex;
    flex-direction: column;
    font-family: var(--font-style1);
    color: var(--fourth-color);
}

main a {
    color: var(--fourth-color);
}

/* HEADER STYLING START */

header {
    padding: 20px 35px 10px 35px;
    background-color: var(--second-color);
    position: sticky;
    top: 0;
    z-index: 9999;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

header a {
    text-decoration: none;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li a {
    padding: 10px 15px;
  }

/* HEADER STYLING END */

/* HERO SECTION STYLING START */

.hero {
    padding: 175px 0px;
    background-image: url("../images/hero-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero div {
    width: 40%;
}

.hero div h1 {
    font-size: 50px;
    text-align: center;
    text-shadow: 2px 2px var(--fifth-color);
}

/* HERO SECTION STYLING END */

/* FOR ALL SECTIONS STYLING START */

section {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section h2 {
    text-align: center;
    text-shadow: 2px 2px var(--fifth-color);
}

section h2 {
    padding: 30px 0px;
}

section div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* FOR ALL SECTIONS STYLING END */


/* ABOUT SECTION STYLING START */

.about {
    background-color: var(--first-color);
}

.about div p {
    width: 50%;
    line-height: 30px;
    text-indent: 50px;
}

.about h3 {
    padding-bottom: 10px;
}

.about img {
    border-radius: 25%;
    border: 5px solid var(--fifth-color);
    width: 20%;
    height: 250px;
}

/* ABOUT SECTION STYLING END */

/* PORTFOLIO SECTION STYLING START */

.portfolio {
    background-color: var(--third-color);
}

.portfolio-item {
    border: 5px solid var(--fifth-color);
    border-radius: 25%;
    opacity: .3;
    width: 27%;
    height: 200px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.portfolio a div {
    background-color: var(--first-color);
    width: 50%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio-item:hover {
    opacity: 1;
    width: 35%;
    height: 250px;
}

#run-buddy {
    background-image: url("../images/run-buddy-pic.JPG");
    background-size: cover;
    background-repeat: no-repeat;
}

#refactor {
    background-image: url("../images/search-engine-optimization.jpg");
    background-size: contain;
}

#future-project {
    background-image: url("../images/under-construction.JPG");
    background-size: cover;
    background-repeat: no-repeat;
}

/* PORTFOLIO SECTION STYLING END */

/* CONTACT SECTION STYLING START */

.contact {
    background-color: var(--first-color);
}

.contact ul {
    list-style: none;
    line-height: 30px;
}

.contact-form input, .contact-form textarea {
    border: 3px solid var(--fifth-color);
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: var(--fifth-color);
    width: 100%;
    margin-bottom: 15px;
    margin-top: 5px;
    border-radius: 10px;
    background-color: var(--fourth-color);
  }
  
  .contact-form input:focus, .contact-form textarea:focus {
    background-color: var(--fourth-color);
    outline: none;
  }
  
  .contact-form button {
    width: 50%;
    border: 3px solid var(--fifth-color);
    text-align: center;
    padding: 15px 0;
    font-size: 16px;
    border-radius: 10px;
  }
/* CONTACT SECTION STYLING END */



/* FOOTER STYLING START */

footer {
    padding: 20px 35px;
    background-color: var(--second-color);
    text-align: center;
}

/* FOOTER STYLING END */



/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */

@media screen and (max-width: 900px) {
    
    /* HEADER STYLING START */
    header {
        flex-wrap: wrap;
        justify-content: center;
    }

    header nav {
        padding-top: 20px;
    }
    /* HEADER STYLING END */

    /* ABOUT STYLING START */
    .about div {
        flex-direction: column;
        align-items: center;
    }

    .about div p {
        width: 85%;
        padding-top: 50px;
    }

    .about img {
        width: 70%;
        height: 350px;
    }
    /* ABOUT STYLING END */

    /* PORTFOLIO STYLING START */
    .items {
        flex-direction: column;
        align-items: center;
    }

    .items a {
        margin: 20px;
        width: 50%
    }

    .items a div {
        padding: 25px 0;
    }
   /* PORTFOLIO STYLING END */

   /* CONTACT STYLING START */
   .contact div {
       flex-direction: column;
       align-items: center;
       justify-content: center;
   }

   .contact div > * {
       margin: 20px 0;
   }
   /* CONTACT STYLING END */
}