* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --primary-color: #494e6b;
    --secondary-color: #98878f ;
    --tertiary-color: #98536d;
    --quaternary-color: #192231;
    --white-text: rgba(244, 245, 239, 0.788);
}


main {
    display: flex;
    flex-direction: column;
}

/* HEADER STYLING START */

header {
    padding: 20px 35px;
    background-color: var(--quaternary-color);
    position: sticky;
    top: 0;
    z-index: 9999;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header a {
    text-decoration: none;
    color: var(--white-text);
}


header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li a {
    padding: 10px 15px;
  }

/* HEADER STYLING END */


section h2 {
    text-align: center;
}


/* HERO SECTION STYLING START */

.hero {
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero img {
    border-radius: 25%;
}

/* HERO SECTION STYLING END */

/* FOR ALL SECTIONS STYLING START */

section {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section div {
    padding: 50px 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* FOR ALL SECTIONS STYLING END */


/* ABOUT SECTION STYLING START */

.about {
    background-color: var(--primary-color);
}

.about article {
    width: 33%;
}

/* ABOUT SECTION STYLING END */

/* PORTFOLIO SECTION STYLING START */

.portfolio {
    background-color: var(--secondary-color);
    flex-wrap: wrap;
}

.items {
    flex-direction: row;
    flex-wrap: wrap;
}

.portfolio-item {
    border: 2px solid black;
    border-radius: 15%;
    width: 25%;
}

/* PORTFOLIO SECTION STYLING END */

/* CONTACT SECTION STYLING START */

.contact {
    background-color: var(--primary-color);
}

.contact ul {
    list-style: none;
}

.contact-form input, .contact-form textarea {
    border: 1px solid var(--secondary-color);
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: var(--secondary-color);
    width: 100%;
    margin-bottom: 15px;
    margin-top: 5px;
    border-radius: 10px;
    background-color: rgba( 255, 255, 255, 0.75);
  }
  
  .contact-form input:focus, .contact-form textarea:focus {
    background-color: rgba(255, 255, 255, 1);
    outline: none;
  }
  
  .contact-form button {
    width: 50%;
    border: none;
    text-align: center;
    padding: 15px 0;
    font-size: 16px;
    border-radius: 10px;
  }
/* CONTACT SECTION STYLING END */



/* FOOTER STYLING START */

footer {
    padding: 20px 35px;
    background-color: var(--quaternary-color);
    color: var(--white-text);
    text-align: center;
}

/* FOOTER STYLING END */


/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */

@media screen and (max-width: 900px) {
    
    /* HEADER STYLING START */
    header {
        flex-wrap: wrap;
    }
    /* HEADER STYLING END */

    /* ABOUT STYLING START */
    .about div {
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    .about article:first-child {
        padding-bottom: 30px;
    
    }
    /* ABOUT STYLING END */

    /* PORTFOLIO STYLING START */

    .items {
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    .portfolio-item {
        width: 55%;
        margin: 20px;
    }

   /* PORTFOLIO STYLING END */

   /* CONTACT STYLING START */

   .contact {
       flex-direction: column;
       justify-content: center;
       align-content: center;
       
   }

   /* CONTACT STYLING END */

  }
  
  /* MEDIA QUERY FOR TABLETS AND SMALLER */
  @media screen and (max-width: 768px) {
  
  }
  
  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER  */
  @media screen and (max-width: 757px) {
    
  }

