* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --primary-color: #494e6b;
    --secondary-color: #98878f ;
    --tertiary-color: #98536d;
    --quaternary-color: #192231;
    --white-text: rgba(244, 245, 239, 0.788);
}


header {
  padding: 20px 35px;
  background-color: var(--quaternary-color);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
  display: flex;
  justify-content: space-between;
}


header a {
    text-decoration: none;
    color: var(--white-text);
}

header nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

footer {
    background-color: var(--quaternary-color);
    color: var(--white-text);
    text-align: center;
    padding: 20px 35px;
  }




.hero {
    padding: 100px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
  }

.hero img {
      border-radius: 25%;
  }


section h2 {
      text-align: center;
  }


.about {
    background-color: var(--primary-color);
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

.article {
    padding: 50px 0;
    display: flex;
    justify-content: space-around;
  }



.portfolio {
  padding: 100px 0;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tiles {
  padding: 50px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;

}






.contact {
  padding: 100px 0;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
}



/*.flex-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
  }

  /* flex child */
.flex-item {
    
    border: 4px solid #fb3e55;
    
  }
  
  